body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: #5b6275;
  margin: 30px;
}

h2 {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  padding-left: 10px;
}

form {
  max-width: 700px;
}

p {
  display: inline-block;
  font-size: 17px;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
}

.container {
  border: 0.5px solid #9b9b9b1a;
  max-width: 700px;
  background: rgba(199, 203, 188, 0.3);
  border-radius: 20px;
}

.search-city {
  font-size: 14px;
}

.search-button {
  display: block;
  margin: 0 auto;
  background: rgb(64, 134, 135, 0.9);
  color: white;
  font-size: 14px;
  border: none;
  transition: all 250ms ease-in-out;
}

.search-button:hover {
  background: #408687e6;
}

.current-city h1 {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  font-family: "Shadows Into Light Two";
  letter-spacing: 8px;
}

.percentage,
.wind-mph,
.weather-forecast-date {
  font-weight: 500;
}

a {
  color: #464077;
  font-weight: 500;
}

a:visited {
  color: #464077;
}
.current-temp {
  font-size: 48px;
  font-weight: 300;
}

.temperature-symbol {
  display: inline-flex;
  font-size: 45px;
  font-weight: lighter;
}

.current-city-detail.current-information {
  display: flex;
  font-size: 15px;
  max-width: 100%;
  color: white;
  background: rgb(64, 136, 137, 0.9);
  border-radius: 15px;
  justify-content: center;
}

.current-day,
.current-description,
.current-humidity,
.current-wind {
  padding-right: 10px;
  padding-left: 10px;
}

.current-city-detail.temperature {
  display: inline-block;
  text-align: right;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
}

.weather-icon {
  display: block;
  height: 120px;
  border-radius: 50%;
  padding: 0.5px 6px 0.5px 6px;
  margin: 0 auto;
}

.forecast-icon {
  width: 65px;
  height: 55px;
}

.WeatherForecast {
  display: block;
  font-size: 15px;
  text-align: center;
  background: white;
  border-radius: 10px;
}

.weather-forecast-date {
  font-family: "Shadows Into Light Two";
  letter-spacing: 3px;
  font-size: 17px;
  font-weight: 600;
}

.weather-forecast-temperature-max {
  opacity: 0.6;
  margin-left: 5px;
}

.icon {
  border-radius: 50%;
  width: 55px;
  margin: 0 auto;
}

#current-description:first-letter {
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .current-city-detail.current-information > * {
    font-size: 12px;
  }
}
